<!DOCTYPE html>
<html> 
  <head>
    <meta charset="utf-8">

      <link rel = "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel = "stylesheet" href="/css/style.css">

    <title>Movie Lovers</title> 
  </head>

  <body>
    <div class = "container-fluid">

      <header class = "row">
        <h1>Movie Lovers</h1>
      </header> 

       <nav class = "row">
          <div class="col-sm-8"> 
            <form action="/find" method="POST">
              <input type="text" class="form-control" name="text" placeholder="Introduce un tema para buscar">
              <button type="submit" class="btn btn-default">Busqueda</button>
            </form>
          </div>
      </nav>  

          
        
           <%@result.movies.each_with_index do |movie, index|%>
             <!--  <%if index % 3 == 0%>
                <div class = "row">
              <%end%> -->
            
                <article class="movies col-sm-4">
                  <div class = "image "> <img src=<%="#{movie.poster}"%> ></div>
                </article>

              
          <%end%>
       

        
         
     
      </section>

      <footer class = "row">
       
        <form action="/form_add" method="POST">
  
        </form>
       
      </footer>  
    </div> <!-- fin del container-fluid   -->
  </body>
</html>