<!DOCTYPE html>
<html> 
  <head>
    <meta charset="utf-8">

      <link rel = "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel = "stylesheet" href="/css/style.css">

    <title>Movie Lovers</title> 
  </head>

  <body>
    <div class = "container-fluid">

      <header class = "row">
        <h1>Movie Lovers</h1>
      </header> 

       <nav class = "row">
          <div class="col-sm-8"> 
            <form action="/sort" method="POST">
              
            </form>
          </div>

          
      </nav>  

      <section class = "row">
        <div class="col-sm-9">
           <%@result.movies.each do |movie|%>
            <article class="movie">
             <div class = "my_title"> <%="#{movie.title}"%> </div>
              <div class = "image"> <img src=<%="#{movie.poster}"%> ></div>
              <div class = "year"> <%="#{movie.year}"%> </div>
            </article>
          <%end%>
        </div>

        <div class="col-sm-3">
         
        </div> 
      </section>

      <footer class = "row">
       
        <form action="/form_add" method="POST">
          <button type="submit" class="btn btn-primary my-btn-default background-opacity-1">Nuevo</button>
        </form>
       
      </footer>  
    </div> <!-- fin del container-fluid   -->
  </body>
</html>